.header {
  background-color: white;
  width: 100%;
  margin-top: 0%;
  top: 0;
  height: 10vw;
}

.navbar-brand {
  font-size: 1em;
}

body {
  background: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

.bttn {
  margin-left: 38%;
}

.bttn ul li a {
  margin: 2%;
  width: 200px;
}
