
<body>
  <div class="header">
    

    <nav class="navbar navbar-expand">
      <h1><a class="navbar-brand" href="#">Github-Search</a></h1>

        <!-- Collect the nav links, forms, and other content for toggling -->
        
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink='/my-github' class="btn btn-primary" routerLinkActive='active'>Users</a>
            <li><a routerLink='/search' class="btn btn-primary" routerLinkActive='active'>Repositories</a></li>

          </ul>

     
    </nav>
  </div>



</body>

<router-outlet></router-outlet>
