/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@font-face{
  font-family: 'fragment';
  src:url('../new/fragmentcore-webfont.woff');
  src:
  url('../new/fragmentcore-webfont.woff') format('woff'),
  url('../new/fragmentcore-webfont.woff2') format('woff2')
}
@font-face{
  font-family: 'ar';
  src: url('../new/fragmentcore-webfont.woff');
  src: 
  url('../new/aaargh-webfont.woff') format('woff'),
  url('../new/aaargh-webfont.woff2') format('woff2')
}
body{
    background-color: black;
}

h1 a {
  margin-top: 7%;
  font-family: 'fragment';
  font-weight: bolder;
  color: black;
  text-align: center;
  
}
a{
  font-family: 'ar';
}