<div class="container">

  <body>
    
    <nav class="navbar navbar-expand-lg static-top">
      <div class="container">
        <a class="navbar-brand" href="#">

        </a>
        <h1>GITHUB SEARCH</h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Repositories</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row">

      <input type="content" type="text" #usersearch>
      <button class="btn btn-primary" (click)="getUser(usersearch)">SEARCH</button>
      <ul *ngFor='let usersearch of userArray; let i = "index"'>

        {{usersearch.login}}<br>
        <br>
        {{usersearch.bio}}<br>
        <br>
         {{usersearch.repos_url}}<br>
         <br>
        <a href='{{usersearch.repos_url}}'> </a>
        <br>
        <img src="{{usersearch.avatar_url}}" alt="">
      </ul>
    </div>
  </body>


  
  _
